* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #eee;
}
#root {
  padding: 20px;
}
button {
  background-color: transparent;
  border: none;
  outline: 0;
}
.post {
  width: 530px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}
.header,
main p,
footer {
  padding: 5px 15px;
}
.header {
  padding: 10px 20px;
}
.header img {
  width: 48px;
  height: 48px;
  border: 2px solid transparent;
  border-radius: 50%;
}
.header .user {
  width: 100%;
  color: #555;
  font-family: Helvetica, sans-serif;
}
header span.headline {
  font-size: 12px;
}
.header span {
  font-size: 14px;
}
span.username {
  font-weight: bold;
  font-size: 16px;
  color: black;
}
span.username:hover {
  color: #0073b1;
  text-decoration: underline;
}
.header div button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background-color: transparent;
  font-weight: bold;
}
.header div button:hover {
  background-color: #eee;
}
main {
  margin-bottom: 20px;
}
main p {
  padding: 10px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main img {
  width: 100%;
}
.reaction-counter {
  margin: 4px 15px;
  padding: 10px 0;
  font-size: 12px;
  color: #333;
  border-bottom: 1px solid lightgrey;
}
.reaction-buttons {
  align-items: center;
  justify-content: space-evenly;
}
.reaction-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  min-height: 2.5rem;
  background-color: transparent;
  outline: 0;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  color: #00000099;
  cursor: pointer;
}
.reaction-buttons button:hover {
  background-color: #eee;
  border-radius: 5px;
}
svg {
  color: #00000099 !important;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  position: relative;
}
.reactions {
  position: absolute;
  left: -15px;
  top: -13px;
  padding: 10px 0;
  background-color: white;
  width: 270px;
  height: 30px;
  border-radius: 50px;
  box-shadow: -1px 2px 2px #aaa, 0 0 1px #777;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  display: flex;
}
.reactions * {
  cursor: pointer;
}
.icon-container {
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-container img {
  width: 24px;
  height: 24px;
  mix-blend-mode: multiply;
}
.icon-container img:hover {
  position: absolute;
  top: -7px;
  background-image: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.icon-container span {
  display: none;
  position: absolute;
  top: -45px;
  background-color: black;
  color: #eee;
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 14px;
}
.icon-container:hover span {
  display: block;
}
.top-reaction {
  width: 16px;
  height: 16px;
  margin:  0 0 0 -4px;
  border-radius: 50%;
  background-color: white;
}
